<script language="JavaScript">
    	function open_happou () {
        	win=window.open("http://www.happo-en.com/","new","");
        }
        function open_duo () {
          	win=window.open("http://www.duodomo.com/","new","");
          }
          function open_sukai () {
            	win=window.open("http://www.skyhall.net/","new","");
            }
            function open_tokyo () {
              	win=window.open("http://place-tokyo.com/","new","");
              }
              function open_burari () {
                  win=window.open("/burari/go","new","");
                }
</script>


<center><font size=7><SPAN style=" font-family:Comic Sans MS; ">〜ぶらり式場旅〜</SPAN></font></center><br><br>
<font size=4>あなたの<font color="red"><font size=5>「めんどくさい」</font></font>を解決する。</font><br><br>
　　　　　「式場はおおまかに決めたけど、実際に式場行くのはめんどくさい...」<br>
　　　　　「式場行きたいけど時間ない...」<br><br>
<font size=5>　　　　　　その式場、行った気になりませんか？</font>

<br><br><br><br>
<font size=4><strong><p>[検索フォーム]</p></strong></font>
　　　<a href='javascript:open_happou()'><span><u>八芳園</u></span></a>
<br><p>
<center><img src="http://www.mwed.jp/d/alb2/7/768/f731goc6j942hose73100g8kqte7310.jpg"></center>
</p><br>
<center><a href='javascript:open_burari()'><span><font size=5>ぶらりする</font></span></a></center><br><br>

<p><strong>     住所</strong>：東京都　港区　白金台</p>
<p><strong>     電話番号</strong>：◯◯◯-◯◯◯◯</p>
<p><strong>     最寄駅</strong>：白銀台駅</p>
<br><br>
<strong><p>あなたへのオススメ会場！</p></strong>
<p>1.<a href='javascript:open_happou()'><span>デュオドーモ</span></a></p>
<p>2.<a href='javascript:open_sukai()'><span>スカイホール</span></a></p>
<p>3.<a href='javascript:open_tokyo()'><span>the place of Tokyo</span></a></p>
